{% extends 'base.html' %}

{% load static %}
{# head #}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{# body #}
{% block content %}
    <form method="post" class="form">
        {% csrf_token %}
        <span class="input field"><h3>SIGN UP!!</h3></span>

        <span class="input field">username</span>
        <span class="input field">{{ form.username }}</span>

        <span class="input field">{{ form.username.errors }}</span>

        <span class="input field">email</span>
        <span class="input field">{{ form.email }}</span>


        <span class="input field">password</span>
        <span class="input field" >{{ form.password1 }}</span>

        <span class="input field">confirm password</span>
        <span class="input field">{{ form.password2 }}</span>

        <!-- {{form.as_p}} -->

        <input class="submit-btn" type="submit" value="submit">

    </form>

{% endblock content %}