{% extends 'base.html' %}

{% load static %}
{# head #}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/chat_room.css' %}" type="text/css">
{% endblock %}

{# title #}
{% block title %}
      Friends
{% endblock %}

{# body #}
{% block content %}
    <section class="section-container">
        <div class="profile">
            {% for friend in context.friends %}
            <a class="friends-card-link" href="{% url 'chat_room' friend.id %}">
                <div class="friends-card">
                    <figure class="user-figure">
                        {% if friend.user_image.url == None %}
                            <img class="user-img" src="{% static 'media/user-profile.png' %}"  alt="user"  width="80px" height="80px">
                        {% else %}
                            <img class="user-img" src="{{ friend.user_image.url }}"  alt="user"  width="80px" height="80px">
                        {% endif %}
                    </figure>
                    <div class="user-detail">
                        <p class="uname">{{friend.username}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div  class="chat-container">
            <div id="chat-log" class="chat-log">
                {% for chat in context.chats %}
                {% if chat.sent_by == user %}
                    <div class="sent">
                        <div class="chat sent-chat">
                            {{chat.chat}}
                        </div>
                    </div>
                {% else %}
                    <div class="recieved ">
                        <div class="chat recieved-chat">
                            {{chat.chat}}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="mssg-sender">
                <input id="chat-message-input" class="input1" type="text" size="10000">
                <div id="chat-message-submit" class="sendbtn">
                    <img class="sendimg"  src="{% static '/media/send.png' %}" alt="send" srcset="">
                </div>
            </div>
        </div>
        
        {{ context.user.id|json_script:"user" }}
        {{ context.room_name|json_script:"room-name" }}
        {{ context.user1|json_script:"sender" }}
        {{ context.user2|json_script:"receiver" }}
    </section>
    <script src="{% static 'js/chat_room.js' %}"></script>
{% endblock content %}

