{% extends 'base.html' %}

{% load static %}
{# head #}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock %}

{# title #}
{% block title %}
      Search Results
{% endblock %}
{# body #}
{% block content %}
    <div class="container ">
        
        <p class="card-title">no. of results found : {{results.total}}</p>

        <div class="card text-center  ">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <button id="notfriendsbtn" class="nav-link active position-relative"  type="button" >not frineds<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{results.not_friend_no}}</span></button>
                  </li>
                <li class="nav-item">
                  <button id="friendsbtn" class="nav-link position-relative"  type="button" >friends<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{results.accepted_no}}</span></button>
                </li>
                <li class="nav-item">
                  <button id="requestedbtn" class="nav-link position-relative" type="button">requested<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{results.sent_not_accepted_no}}</span></button>
                </li>
                <li class="nav-item">
                  <button id="receivedbtn" class="nav-link position-relative"  type="button">received<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{results.received_not_accepted_no}}</span></button>
                </li>
              </ul>
            </div>
            <!-- not friends -->
            <div class="card-body">

                <div class="division" id="notfriends" >
                    {% if results.not_friend_no != 0 %}
                        {% for result in results.not_friend %}
                        <div class="card mb-3" style="width: 500px;" >
                            
                            <div class="row g-0" style="height: 80px; padding:0px;">
                                <a href="{% url 'profile' result.id %}" class="col-md-2">
                                    <div   style="height: 80px;">
                                        {% if result.user_image.url == None %}
                                            <img src="{% static 'media/user-profile.png' %}"  alt="user"  width="80px" height="80px">
                                        {% else %}
                                            <img src="{{ result.user_image.url }}"  alt="user"  width="80px" height="80px">
                                        {% endif %}
                                        
                                    </div>
                                </a>
                                    <div class="col-md-6" >
                                        <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                            <h5 class="card-title">{{ result.username }}</h5>
                                            <p class="card-text">{{ result.first_name}} {{ result.last_name }}</p>
                                        </div>
                                    </div>
                            
                                <div class="col-md-4" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto;"> 
                                    <button class="btn-primary request" data-sentById="{{ user.id }}" data-friendId="{{ result.id }}" style="max-width:90%; min-width:fit-content ;">request</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="card mb-3" style="width: 500px;" >
                            <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                <p class="card-text">No user found <br> see in your friend list</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- friends -->
                
                <div class="division" id="friends" style="display:None;">
                    <h1 >friends</h1>
                    {% if results.accepted_no != 0 %}
                    {% for friend in results.sent_accepted %}
                    <div class="card mb-3" style="width: 500px;" >
                        <div class="row g-0" style="height: 80px; padding:0px;">
                            <a href="{% url 'profile' friend.sent_to.id %}" class="col-md-2">
                                <div   style="height: 80px;">
                                    {% if friend.sent_by.user_image.url == None %}
                                        <img src="{% static 'media/user-profile.png' %}"  alt="user"  width="80px" height="80px">
                                    {% else %}
                                        <img src="{{ friend.sent_to.user_image.url }}"  alt="user"  width="80px" height="80px">
                                    {% endif %}
                                </div>
                            </a>
                                <div class="col-md-5" >
                                    <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                        <h5 class="card-title">{{ friend.sent_to.username }}</h5>
                                        <p class="card-text">{{ friend.sent_to.first_name}} {{ friend.sent_to.last_name }}</p>
                                    </div>
                                </div>
                            
                            <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto; "> 
                                <button class="btn-primary sent" class="btn-primary chat_room" data-sentToId="{{ friend.sent_to.id }}" data-sentById="{{ friend.sent_by.id }}" style="max-width:95%; min-width:fit-content; text-decoration:none;">message</button>
                            </div>
                            <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto;"> 
                                <button class="btn-primary delete" data-friendId="{{ friend.id }}" style="max-width:90%; min-width:fit-content ;">delete</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                    {% for friend in results.received_accepted %}
                        <div class="card mb-3" style="width: 500px;" >
                            <div class="row g-0" style="height: 80px; padding:0px;">
                                <a href="{% url 'profile' friend.sent_by.id %}" class="col-md-2">
                                    <div   style="height: 80px;">
                                        {% if friend.sent_by.user_image.url == None %}
                                            <img src="{% static 'media/user-profile.png' %}"  alt="user"  width="80px" height="80px">
                                        {% else %}
                                            <img src="{{ friend.sent_by.user_image.url }}"  alt="user"  width="80px" height="80px">
                                        {% endif %}
                                    </div>
                                </a>
                                    <div class="col-md-5" >
                                        <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                            <h5 class="card-title">{{ friend.sent_by.username }}</h5>
                                            <p class="card-text">{{ friend.sent_by.first_name}} {{ friend.sent_by.last_name }}</p>
                                        </div>
                                    </div>
                               
                                <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto; "> 
                                    <button class="btn-primary received" class="btn-primary chat_room" data-sentToId="{{ friend.sent_to.id }}" data-sentById="{{ friend.sent_by.id }}" style="max-width:95%; min-width:fit-content ;">message</button>
                                </div>
                                <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto;"> 
                                    <button class="btn-primary delete" data-friendId="{{ friend.id }}" style="max-width:90%; min-width:fit-content ;">delete</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="card mb-3" style="width: 500px;" >
                            <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                <p class="card-text">No such user found in friend list</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
           
                <!-- requested -->

                <div class="division" id="requested" style="display:None;">
                    <h1 >Requested</h1>
                    {% if results.sent_not_accepted_no != 0 %}
                        {% for friend in results.sent_not_accepted %}
                            <div class="card mb-3" style="width: 500px;" >
                                <div class="row g-0" style="height: 80px; padding:0px;">
                                    <a href="{% url 'profile' friend.sent_to.id %}" class="col-md-2">
                                        <div   style="height: 80px;">
                                            {% if friend.sent_by.user_image.url == None %}
                                                <img src="{% static 'media/user-profile.png' %}"  alt="user"  width="80px" height="80px">
                                            {% else %}
                                                <img src="{{ friend.sent_to.user_image.url }}"  alt="user"  width="80px" height="80px">
                                            {% endif %}
                                        </div>
                                    </a>
                                        <div class="col-md-5" >
                                            <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                                <h5 class="card-title">{{ friend.sent_to.username }}</h5>
                                                <p class="card-text">{{ friend.sent_to.first_name}} {{ friend.sent_to.last_name }}</p>
                                            </div>
                                        </div>
                                    
                                    <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto; "> 
                                        <a href="{% url 'profile' friend.sent_to.id %}" class="btn-primary profile" data-sentToId="{{ friend.sent_to.id }}" style="max-width:90%; min-width:fit-content; text-decoration:none;">profile</a>
                                    </div>
                                    <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto; "> 
                                        <button class="btn-primary delete" data-friendId="{{ friend.id }}" style="max-width:90%; min-width:fit-content ;">delete</button>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        {% else %}
                            <div class="card mb-3" style="width: 500px;" >
                                <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                    <p class="card-text">You sent no request to such user</p>
                                </div>
                            </div>
                        {% endif %}
                </div>
            
                <!-- received -->

                <div class="division" id="received" style="display:None;">
                    <h1 >Received</h1>
                    {% if results.received_not_accepted_no != 0 %}
                        {% for friend in resluts.received_not_accepted %}
                        <div class="card mb-3" style="width: 500px;" >
                            <div class="row g-0" style="height: 80px; padding:0px;">
                                <a href="{% url 'profile' friend.sent_by.id %}" class="col-md-2">
                                    <div  style="height: 80px;">
                                        {% if friend.sent_by.user_image.url == None %}
                                            <img src="{% static 'media/user-profile.png' %}"  alt="user"  width="80px" height="80px">
                                        {% else %}
                                            <img src="{{ friend.sent_by.user_image.url }}"  alt="user"  width="80px" height="80px">
                                        {% endif %}
                                        
                                    </div>
                                </a>
                                    <div class="col-md-5" >
                                        <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                            <h5 class="card-title">{{ friend.sent_by.username }}</h5>
                                            <p class="card-text">{{ friend.sent_by.first_name}} {{ friend.sent_by.last_name }}</p>
                                        </div>
                                    </div>
                                
                                <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto; "> 
                                    <button class="btn-primary accept" data-friendId="{{ friend.id }}" style="max-width:90%; min-width:fit-content ;">accept</button>
                                </div>
                                <div class="col-md-2" style="display:flex; flex-direction:column; justify-content:center; height: 80px; margin:auto;"> 
                                    <button class="btn-primary delete" data-friendId="{{ friend.id }}" style="max-width:90%; min-width:fit-content ;">delete</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <div class="card mb-3" style="width: 500px;" >
                                <div class="card-body" style="height: 80px; padding:auto; margin:auto;">
                                    <p class="card-text">No request received from such user</p>
                                </div>
                            </div>
                        {% endif %}
                </div>
            </div>            
        </div>
    </div>
    
    <script src="{% static 'js/search.js' %}"></script>
{% endblock content %}