
{% extends 'base.html' %}

{% load static %}
{# head #}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}" type="text/css">
{% endblock %}

{# title #}
{% block title %}
      uCHAT
{% endblock %}
{# body #}
{% block content %}
    <header class="hero">
        <div class="hero-text">
            <p>Welcome to uCH<span>A</span>T,</p><br>
            <h2>We take care of your <br><span>'PRIVACY'</span></h2>
        </div>
        <div class="hero-content">
            <div class="triangle">
            </div>
            <div class="hero-content-img">
                <img src="{% static 'media/robo.png' %}" alt="robo" srcset="">
            </div>
        </div>
    </header>
{% endblock content %}