
.container{
   border: 0px;
   margin-top: 80px;
   max-width: 1500px;
   font-size: 2rem;
}
.card{
    min-height: fit-content;
}
.division{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
}
button{
    text-decoration: none;
}

.category-btn{
    border-radius: 25px;
}